@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Sawarabi+Mincho|Lato");
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  cursor: pointer;
  font-size: smaller; }

.btn_icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #bbbbbb;
  display: inline-block;
  font-weight: bold;
  font-size: 35px;
  margin-right: 5px;
  -ms-flex-item-align: center;
      align-self: center; }
  .btn_icon p {
    position: relative;
    top: -6px; }
  .btn_icon span {
    font-weight: bold; }

.btn_icon-db {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 15px #e2e2e2 solid; }

.btn_trang {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 17.3px;
  border-color: transparent transparent transparent #515151;
  position: relative;
  top: 8px;
  left: 11px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*add reset button style */
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 25px; }

body {
  background-color: #f7f7f7; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  width: 100%; }

.container {
  width: 85%;
  margin: auto;
  margin-top: 50px; }

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.77fr 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  width: 100%; }

.header {
  height: 60px;
  width: 100%; }

.header_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header_logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #7c7c7c;
  padding-left: 20px; }

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #515151;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.header_nav a:hover {
  font-weight: bold;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.header_nav span {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 20px; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  cursor: pointer;
  font-size: smaller; }

.btn_icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #bbbbbb;
  display: inline-block;
  font-weight: bold;
  font-size: 35px;
  margin-right: 5px;
  -ms-flex-item-align: center;
      align-self: center; }
  .btn_icon p {
    position: relative;
    top: -6px; }
  .btn_icon span {
    font-weight: bold; }

.btn_icon-db {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 15px #e2e2e2 solid; }

.btn_trang {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 17.3px;
  border-color: transparent transparent transparent #515151;
  position: relative;
  top: 8px;
  left: 11px; }

.hero {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2; }

.hero_img {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 30px;
  height: 100%;
  width: auto; }

.hero h1 {
  color: #ebebeb;
  font-size: 200px;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 100px; }

.hero h3 {
  color: #515151;
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  margin-left: 300px;
  position: relative;
  top: -35px; }

.hero img {
  float: right;
  position: relative;
  top: -400px;
  right: -11%; }

.hero_text {
  width: 38%;
  margin-left: 110px;
  font-family: "Lato", sans-serif;
  line-height: 33px; }
  .hero_text span {
    font-weight: bold; }

.about_img {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  height: auto; }

.about {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3; }
  .about .btn {
    font-size: 40px; }
    .about .btn span {
      font-weight: bold; }

.about_text {
  margin-top: 100px; }
  .about_text h3 {
    color: #7c7c7c;
    font-size: 40px;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 8px; }
  .about_text p {
    font-family: "Lato", sans-serif;
    font-size: 23px;
    line-height: 33px; }
  .about_text span {
    font-weight: bold; }

.trans-image {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 100%; }

.featured {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  width: 70%;
  color: #7c7c7c; }
  .featured h2 {
    font-size: 60px;
    font-family: "Josefin Sans", sans-serif; }
  .featured h3 {
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif; }
  .featured h3:after {
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    border-bottom: 3px solid #7c7c7c;
    margin-left: 20px; }
  .featured p {
    font-family: "Lato", sans-serif;
    font-size: 23px;
    margin-top: 20px;
    line-height: 33px; }

.featured_img1 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 6; }

.featured_img2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 7;
  position: relative;
  top: -185px; }

.featured_img3 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6; }

.featured_img4 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6; }

.program {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
  color: #7c7c7c; }
  .program h4 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    margin-bottom: 40px; }
  .program p {
    font-size: 20px;
    line-height: 25px; }

.program_img {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 7; }

.only-image1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8; }

.only-image2 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 8; }

.footer {
  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 3;
  grid-row-end: 4; }
