/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Sawarabi+Mincho|Lato|Poiret+One");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*add reset button style */
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.hover_img:hover {
  /*opacity: 1;
	-webkit-animation: flash 3s;
	animation: flash 3s;*/
  -webkit-box-shadow: -2px 1px 30px 5px rgba(124, 124, 124, 0.32);
          box-shadow: -2px 1px 30px 5px rgba(124, 124, 124, 0.32); }

/*@-webkit-keyframes flash {
	0% {
		opacity: .7;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .7;
	}
	100% {
		opacity: 1;
	}
}*/
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  cursor: pointer;
  font-size: smaller; }

.btn_icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #bbbbbb;
  display: inline-block;
  font-weight: bold;
  font-size: 35px;
  margin-right: 5px;
  -ms-flex-item-align: center;
      align-self: center; }
  .btn_icon p {
    position: relative;
    top: -6px; }
  .btn_icon span {
    font-weight: bold; }

.btn_icon-db {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 15px #e2e2e2 solid; }

.btn_trang {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 17.3px;
  border-color: transparent transparent transparent #515151;
  position: relative;
  top: 8px;
  left: 11px; }

.hover_img {
  opacity: 0;
  -webkit-transition: all .9s;
  -o-transition: all .9s;
  transition: all .9s; }

.align-left {
  -webkit-transform: translateX(-30%) scale(0.95);
      -ms-transform: translateX(-30%) scale(0.95);
          transform: translateX(-30%) scale(0.95); }

.align-right {
  -webkit-transform: translateX(30%) scale(0.95);
      -ms-transform: translateX(30%) scale(0.95);
          transform: translateX(30%) scale(0.95); }

.active {
  opacity: 1;
  -webkit-transform: translateX(0%) scale(1);
      -ms-transform: translateX(0%) scale(1);
          transform: translateX(0%) scale(1); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 25px; }

body {
  background-color: #f7f7f7; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  width: 100%; }

h1, h2, h3, h4, h5 {
  font-family: "Josefin Sans", sans-serif; }

span {
  font-family: "Lato", sans-serif; }

.container {
  width: 85%;
  margin: auto;
  margin-top: 50px; }

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.65fr 0.4fr 0.4fr 0.5fr 0.5fr 0.5fr;
  grid-gap: 15px;
  width: 100%; }

.header {
  height: 60px;
  width: 100%; }

.header_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header_logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #7c7c7c;
  padding-left: 20px; }

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #515151;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.header_nav a:hover {
  font-weight: bold;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s; }

.header_nav span {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 20px; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  cursor: pointer;
  font-size: smaller; }

.btn_icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #bbbbbb;
  display: inline-block;
  font-weight: bold;
  font-size: 35px;
  margin-right: 5px;
  -ms-flex-item-align: center;
      align-self: center; }
  .btn_icon p {
    position: relative;
    top: -6px; }
  .btn_icon span {
    font-weight: bold; }

.btn_icon-db {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 15px #e2e2e2 solid; }

.btn_trang {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 17.3px;
  border-color: transparent transparent transparent #515151;
  position: relative;
  top: 8px;
  left: 11px; }

.hero_img {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 30px;
  position: relative;
  right: -7%; }

.hero {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-bottom: 100px; }
  .hero h1 {
    color: #ebebeb;
    font-size: 200px;
    margin-top: 100px; }
  .hero h3 {
    color: #515151;
    font-size: 40px;
    font-weight: bold;
    margin-left: 300px;
    position: relative;
    top: -35px; }

.hero_text {
  width: 43%;
  margin-left: 110px;
  font-family: "Poiret One", cursive;
  line-height: 33px; }

.about_img {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  height: auto; }

.about {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3; }
  .about .btn {
    font-size: 40px;
    font-family: "Poiret One", cursive; }

.about_text {
  margin-top: 100px; }
  .about_text h3 {
    color: #7c7c7c;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 8px; }
  .about_text p {
    font-family: "Poiret One", cursive;
    font-size: 23px;
    line-height: 33px; }

.trans-image {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4; }

.featured {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  width: 70%;
  color: #7c7c7c; }
  .featured h2, .featured h3 {
    font-family: "Poiret One", cursive; }
  .featured h2 {
    font-size: 60px; }
  .featured h3 {
    font-size: 40px; }
  .featured h3:after {
    content: '';
    display: block;
    width: 100px;
    height: 20px;
    border-bottom: 3px solid #7c7c7c;
    margin-left: 20px; }
  .featured p {
    font-family: "Lato", sans-serif;
    font-size: 23px;
    margin-top: 20px;
    line-height: 33px; }

.featured_img1 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 6; }

.featured_img2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 7;
  position: relative;
  top: -170px; }

.featured_img3 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6; }

.featured_img4 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6; }

.program {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
  margin-top: 70px;
  color: #7c7c7c;
  font-family: "Poiret One", cursive; }
  .program h4 {
    font-size: 30px;
    margin-bottom: 40px; }
  .program p {
    font-size: 20px;
    line-height: 25px; }

.program_img {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 7;
  margin-top: 70px; }

.only-image1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8; }

.only-image2 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 8; }

.services {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 9;
  margin-right: 30px; }
  .services h3 {
    font-family: "Lato", sans-serif;
    font-size: 35px;
    color: #515151;
    margin-top: 30px;
    margin-bottom: 20px; }
    .services h3 span {
      font-weight: bold; }
  .services p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
    font-family: "Poiret One", cursive; }

.services_img {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 8;
  grid-row-end: 9; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  cursor: pointer;
  font-size: smaller; }

.btn_icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #bbbbbb;
  display: inline-block;
  font-weight: bold;
  font-size: 35px;
  margin-right: 5px;
  -ms-flex-item-align: center;
      align-self: center; }
  .btn_icon p {
    position: relative;
    top: -6px; }
  .btn_icon span {
    font-weight: bold; }

.btn_icon-db {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 15px #e2e2e2 solid; }

.btn_trang {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 17.3px;
  border-color: transparent transparent transparent #515151;
  position: relative;
  top: 8px;
  left: 11px; }

.contact_img {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 9;
  grid-row-end: 10; }

.contact {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 10;
  margin-top: 30px;
  margin-left: 20px;
  font-family: "Poiret One", cursive; }
  .contact h3 {
    color: #515151;
    font-size: 35px;
    margin-bottom: 20px; }
  .contact p {
    font-size: 18px;
    line-height: 23px; }

.contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  font-family: "Josefin Sans", sans-serif;
  color: black; }
  .contact_form input {
    background-color: transparent;
    border: 1px solid black;
    margin-bottom: 15px;
    font-size: 15px;
    height: 150px;
    -ms-flex-line-pack: start;
        align-content: flex-start; }
  .contact_form ::-webkit-input-placeholder {
    color: black;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    padding-left: 10px; }
  .contact_form :-ms-input-placeholder {
    color: black;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    padding-left: 10px; }
  .contact_form ::-ms-input-placeholder {
    color: black;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    padding-left: 10px; }
  .contact_form ::placeholder {
    color: black;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    padding-left: 10px; }
  .contact_form ::text {
    color: red; }

.form_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .form_items input {
    height: 50px; }
  .form_items ::-webkit-input-placeholder {
    text-align: center;
    padding: 0; }
  .form_items :-ms-input-placeholder {
    text-align: center;
    padding: 0; }
  .form_items ::-ms-input-placeholder {
    text-align: center;
    padding: 0; }
  .form_items ::placeholder {
    text-align: center;
    padding: 0; }

.form_item {
  width: 48%; }

.form_btn {
  background-color: #e2e2e2;
  border-radius: 2px;
  color: #515151;
  font-size: 15px;
  font-weight: bold;
  height: 50px;
  width: 55%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer; }

.form_btn:hover {
  background-color: #bbbbbb;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ebebeb;
  padding: 60px 40px 180px 40px;
  margin-top: 80px;
  margin-bottom: 100px;
  font-family: "Josefin Sans", sans-serif;
  color: #515151; }
  .footer div {
    width: 20%; }
  .footer h5 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px; }
  .footer li {
    line-height: 30px; }
    .footer li a:hover {
      color: black; }
  .footer p {
    font-size: smaller;
    line-height: 23px; }
