.about_img {
    @include griditem(1,4,2,3);
    width:100%;
    height: auto;
}


.about {
     @include griditem(5,7,2,3);
    
    .btn {
        font-size:40px;
        font-family: $basefont;
    }
}

.about_text {
    
    margin-top:100px;
    
    h3 {
        color: $mediumgrey;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 8px;
    }
    
    p {
        font-family: $basefont;
        font-size: 23px;
        line-height: $mainline;
    }
    
}

.trans-image {
    @include griditem(1,4,3,4);
    align-self: center;
}

@media (max-width:$mediumwidth) {
    
    .about_img {
        @include griditem(1,7,2,3);
        align-self: center;
        
    }
    
    .about {
        @include griditem(1,7,3,4);
        align-self: center;
    }
    
    .about_text {
        margin-top:50px;
    }
    
    .trans-image {
        @include griditem(1,7,4,5);
        align-self: center;
    }

}
