.footer { 
    @include flex;
    justify-content: space-around;
    
    
    background-color: $ligthgrey;
    padding:60px 40px 150px 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: $headersfont;
    color:$darkgrey;
    
    & div {
        width:20%;
    }
    
    & h5 {
        font-size:23px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    
    & li {
        line-height: 30px;
        
        a:hover {
            color:black;
        }
    }
    
    & p {
        font-size: smaller;
        line-height: 23px;
    }
    
    @media (max-width:$smallwidth) {
        display: flex;
        flex-direction: column;
        padding:30px;
        margin-top: 30px;
        margin-bottom: 30px;
        
        & div {
        width:100%;
        }
        
        & h5 {
            margin-top: 15px;
        }
    }
}
