@import 'helpers/variables';
@import 'helpers/display';

.header {
    height: 60px;
    width:100%;
}

.header_bar {
    @include flex;
}

.header_logo {
    font-family: $headersfont;
    font-size: 50px;
    font-weight: bold;
    color: $mediumgrey;
    padding-left: 20px;
}

.header_nav {
    @include flex;
    width:40%;
    font-family:$secondfont;
    font-size:18px;
    color:$darkgrey;
    align-items: flex-end;
}

.header_nav a:hover {
    font-weight: bold;
    transition: $hovertrans;
}

.header_nav span {
    font-family:$headersfont;
    font-weight: bold;
    font-size: 20px;
}

.nav_menu {
    display: none;
}

@media (max-width:$mediumwidth) {
    .header_bar {
        display: flex;
        flex-direction: column;
    }
    
    .header_nav {
        margin-top: 10px;
        padding-left: 20px;
        width:75%;

    }
}

@media (max-width:$smallwidth) {
    
    .header_logo {
        font-size: 40px;
        padding-left: 0;
    }
    
    .header_bar {
        display: flex;
        flex-direction: row;
        align-items:flex-start;

    }
    
     .header_nav {
        flex-direction: column;
        width:100%;
        padding-left: 0;
        line-height: 27px; 
    }
    
    .nav_menu {
        display: contents;
        text-transform: uppercase;
        font-size: bigger;
    }
}

