.header {
    height: 60px;
    width:100%;
}

.header_bar {
    @include flex;
    
    @media (max-width:$mediumwidth) {
        display: flex;
        flex-direction: column;
    }
    
    @media (max-width:$smallwidth) {
        display: flex;
        flex-direction: row;
    }
}

.header_logo {
    font-family: $headersfont;
    font-size: 50px;
    font-weight: bold;
    color: $mediumgrey;
    padding-left: 20px;
    
    @media (max-width:$smallwidth) {
        font-size: 40px;
        padding-left: 0;
    }
}

.header_menu {
    width:40%;
    
    @media (max-width:$mediumwidth) {
        width:100%;
    }
    
    @media (max-width:$smallwidth) {
        display: flex;
        flex-direction: column;
        width:70%;
    }
}

.header_nav {
    @include flex;
    width:100%;
    font-family:$secondfont;
    font-size:18px;
    color:$darkgrey;
    align-items: flex-end;
    
    @media (max-width:$mediumwidth) {
        margin-top: 10px;
        padding-left: 20px;
        width:75%;
    }
    
    @media (max-width:$smallwidth) {
        display: none;
    }
    
    li {
        a {
        cursor: pointer;
        } 
    }
}

.header_nav a:hover {
    font-weight: bold;
    transition: $hovertrans;
}

.header_nav span {
    font-family:$headersfont;
    font-weight: bold;
    font-size: 20px;
}

.nav_btn {
    display: none;
}


@media (max-width:$smallwidth) {
    
    .nav_show {
        display: flex;
        flex-direction: column;
        width:100%;
        padding-left: 0;
        line-height: 27px; 
    }
    
    .nav_btn {
        text-transform: uppercase;
        font-size: bigger;
        font-family: $headersfont;
        font-size:20px;
        font-weight: bold;
        display: block;
        align-self: flex-end;
        cursor: pointer;
    }
}

