@import 'helpers/variables';
@import 'helpers/display';
@import 'components/buttons';

.hero {
     @include griditem(1,4,1,2);
}

.hero_img {
    @include griditem(4,end,1,2);
    margin-top: 30px;
    height:100%;
    width: auto;
}

.hero {
    
    h1 {
        color:$ligthgrey;
        font-size: 200px;
        font-family: $headersfont;
        margin-top: 100px;
    }
    
    h3 {
        color:$darkgrey;
        font-size: 40px;
        font-family: $headersfont;
        font-weight: bold;
        margin-left: 300px;
        position: relative;
        top:-35px;     
    }
    
    img {
        float:right;
        position: relative;
        top:-400px;
        right: -11%;
    }
}

.hero_text {
    width:38%;
    margin-left: 110px;
    font-family: $secondfont;
    line-height: 33px;
    
    span {
        font-weight: bold;
    }
}