.program {
    @include griditem(1,5,6,7);
    margin-top: 70px;
    
    color:$mediumgrey;
    
    font-family: $basefont;
    
    h4 {
        font-size:30px;
        margin-bottom: 40px;
    }
    
    p {
        font-size: 20px;
        line-height: 25px;
    }
    
}

.program_img {
     @include griditem(5,7,6,7);
    margin-top: 70px;
}

@media (max-width:$mediumwidth) {
    .program {
        @include griditem(1,7,8,9);
        margin-top: 0;
    }
    
    .program_img {
        @include griditem(1,7,9,10);
        margin-top: 0;
    }
}

@media (max-width:$smallwidth) {
     .program {
        @include griditem(1,7,10,11);
    }
    
    .program_img {
        @include griditem(1,7,11,12);
    }
}
