.btn {
    @include flex;
    margin-top: 20px;
    cursor: pointer;
    font-size: smaller;
    
    &_icon {
        width:35px;
        height: 35px;
        border-radius:50%;
        background-color: $grey;
        display: inline-block;
        font-weight: bold;
        font-size: 35px;
        margin-right: 5px;
        align-self: center;
   
        & p {
            position: relative;
            top:-6px;
        }

        & span {
            font-weight: bold;
        } 
    }
    
    &_icon-db {
        box-sizing: content-box;
        border:15px $greyopacity solid;
    }
    
    &_trang {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 17.3px;
        border-color: transparent transparent transparent #515151;
        position: relative;
        top:8px;
        left:11px;
    }
    
}








