* {
    box-sizing: border-box;
    font-family: $mainfont;
    font-size: 25px;
}

body {
    background-color: $bg-color;
}

a {
    color:inherit;
    text-decoration: none;
    
    &:hover {
        text-decoration: none;
    }
}


img {
    width:100%;
}

.hover_img {
    &:hover {
        /*opacity: 1;
        -webkit-animation: flash 3s;
        animation: flash 3s;*/
        box-shadow: -2px 1px 30px 5px rgba(124,124,124,0.32); 
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $headersfont;
}

span {
    font-family: $secondfont;
}

.container {
    width:85%;
    max-width:1300px;
    margin:auto;
    margin-top: 50px;
}

.grid_container {
    @include gridsystem;
    width:100%;
    
}

/*@-webkit-keyframes flash {
	0% {
		opacity: .7;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .7;
	}
	100% {
		opacity: 1;
	}
}*/

