* {
    box-sizing: border-box;
    font-family: $mainfont;
}

body {
    background-color: $bg-color;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container {
    @include gridsystem;
    width:90%;
    margin:auto;
    margin-top: 50px;
}

