@import 'helpers/variables';

@mixin gridsystem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 0.5fr 0.7fr 0.7fr 0.4fr 0.4fr 0.5fr 0.5fr 0.5fr;
    grid-gap: 15px;
}

@media (max-width: $largewidth) {
    
    @mixin gridsystem {
    display: grid;
    grid-template-rows: 0.7fr 0.5fr 0.7fr 0.5fr 0.4fr 0.4fr 0.5fr 0.5fr 0.5fr;
    }
}

@media (max-width:$mediumwidth) {
    @mixin gridsystem {
    display: grid;
    grid-template-rows: 0.7fr 0.3fr 0.1fr 0.2fr 0.5fr 0.1fr 0.05fr 0.2fr 0.2fr 0.2fr 0.1fr 0.1fr 0.1fr 0.1fr;
    }
}

@media (max-width:$smallwidth) {
    @mixin gridsystem {
    display: grid;
    grid-template-rows: 0.3fr 0.3fr 0.1fr 0.2fr 0.5fr 0.4fr 0.1fr 0.1fr 0.1fr 0.1fr 0.2fr 0.2fr 0.2fr 0.1fr 0.1fr 0.1fr 0.1fr;
    }
}

@mixin griditem ($startcol, $endcol, $startrow, $endrow) {
    grid-column-start: $startcol;
    grid-column-end: $endcol;
    grid-row-start: $startrow;
    grid-row-end:$endrow;
}


@mixin flex {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}