@mixin gridsystem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.77fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-gap: 15px;
}

@mixin griditem ($startcol, $endcol, $startrow, $endrow) {
    grid-column-start: $startcol;
    grid-column-end: $endcol;
    grid-row-start: $startrow;
    grid-row-end:$endrow;
}


@mixin flex {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}