$bg-color:#f7f7f7;

$grey:#bbbbbb;
$greyopacity:#e2e2e2;

$darkgrey:#515151;
$mediumgrey:#7c7c7c;
$ligthgrey:#ebebeb;

$mainfont:'Sawarabi Mincho', sans-serif;
$headersfont:'Josefin Sans', sans-serif;
$secondfont:'Lato', sans-serif;
$basefont:'Poiret One', cursive;

$mainline:33px;

$hovertrans:all 0.15s;