$bg-color:#f7f7f7;

$grey:#bbbbbb;

$darkgrey:#515151;
$mediumgrey:#7c7c7c;
$ligthgrey:#ebebeb;

$mainfont:'Sawarabi Mincho', sans-serif;
$headersfont:'Josefin Sans', sans-serif;
$secondfont:'Lato', sans-serif;

$hovertrans:all 0.2s;